* {
  text-shadow: 0 0 black;
}

.Box {
  border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.hide {
    visibility: hidden;
  }

  .lightblue {
    background-color: lightblue;
  }

header {
  background-image: url("../images/head-banner.png");
  background-position: right;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.smallHead {
  font-size: 25px;
}

.mainBackground {
  background-image: url("../images/travel-the-world.jpg");
  background-position: top;
  background-size: cover;  
  background-attachment: fixed;
}

.newsback {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 5px black;
}

.radius {
  border-radius: 20px;
  align-items: center;
}

.transparency {
  background-color:rgba(30, 114, 240, 0.8);
  color: white;
  box-shadow: 5px 5px 5px black;
}